@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --dark-green: #24593D;
  --red: #EB2B0C;
  --light-green: #7EB672;
  --purple: #3851BC;
  --font-family: 'Crimson Text', serif;
  --text-color: #000000;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-family);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}