@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

Button {
  background-color: #83C5BE;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px; 
  width: 250px;
  /* font-style: oblique; */
  font-size: 20px;
  position: absolute;
  top: 35%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  animation: colors 5s infinite;
}

p {
  text-align: center;
}

@keyframes colors {
  0%, 100% {
      background-color: #83C5BE;
  }
  50% {
      background-color: #c7f9cc;
  }
}