@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --dark-green: #24593D;
  --red: #EB2B0C;
  --light-green: #7EB672;
  --purple: #3851BC;
  --font-family: 'Crimson Text', serif;
  --text-color: #000000;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-family);
}

.crimson-bold {
  font-weight: 700;
}

.crimson-semibold {
  font-weight: 600;
}

.crimson-regular {
  font-weight: 400;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}